<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý kế toán</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/tienluong/hachtoanluong.css}">
    <script th:src="@{/js/fragment.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div th:replace="fragments::sidebar"></div>
	    <div class="main_content">
	        <div th:replace="fragments::header_Signined"></div>
	        <div class="info">
	        	<h3>Thông tin trả lương</h3>
	        	<h5>Tháng:<span th:text="${thang}"></span></h5>
	        	<div class="search_bangluong">
	        		<form th:action="@{/search_bangluong}" method="get">
	        			<input type="text" name="txt_bangluong" placeholder="Mã nhân viên"/>
	        			<button class="btn btn-search">
	        				<i class="fa fa-search"></i>
	        			</button>
	        		</form>
	        	</div> 
	        	<div class="content_hachtoan">
		        		<table id="table_hachtoan">
		        			<tr>
		        				<th>No</th>
		        				<th>Mã nhân viên</th>
		        				<th>Tên nhân viên</th>	             		
		        				<th>Lương</th>
		        				<th>Thưởng</th>
		        				<th>Phạt</th>
		        				<th>Tạm ứng</th>
		        				<th>Hoàn tạm ứng</th>
		        				<th>Số đã trả</th>
		        				<th>Số còn phải trả</th>
		        				<th>Tình trạng</th>
		        				<th></th>
		        			</tr>
		        			<tr th:each="bangluong, itemStat:${listBangLuong}">
		        				<td th:text="${itemStat.index+1}"></td>
		        				<td th:text="${bangluong.maNhanVien}"></td>
		        				<td th:text="${bangluong.tenNhanVien}"></td>
		        				<td th:text="${bangluong.luong}"></td>   
		        				<td th:text="${bangluong.thuong}"></td>
		        				<td th:text="${bangluong.phat}"></td>    
		        				<td th:text="${bangluong.tamUng}"></td>
		        				<td th:text="${bangluong.hoanTamUng}"></td>
		        				<td th:text="${bangluong.soDaTra}"></td>
		        				<td th:text="${bangluong.soConPhaiTra}"></td>
		        				<td th:text="${bangluong.tinhTrang}"></td>
		        				<td>
		        					<a th:href="@{/xemlichsutra?id_bangluong={id_bangluong}(id_bangluong=${bangluong.id})}" class="btn btn-primary">Xem</a>
		        					<a th:href="@{/traluong?id_bangluong={id_bangluong}(id_bangluong=${bangluong.id})}" class="btn btn-primary">Trả</a>
		        					<a th:href="@{/edit_bangluong?id_bangluong={id_bangluong}(id_bangluong=${bangluong.id})}" class="btn btn-primary">Sửa</a>
		        				</td>
		        			</tr>		        					        			
		        		</table>
	        	</div>
	        </div>
	    </div>
	</div>
</body>
</html>