<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý kế toán</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/thue/khaibaothue.css}">
    <script th:src="@{/js/fragment.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div th:replace="fragments::sidebar"></div>
	    <div class="main_content">
	        <div th:replace="fragments::header_Signined"></div>
	        <div class="info">
	        	<h3>Thuế</h3>
	        	<div class="header_thue">	        		
	        		<div class="taothue">
	        			<form th:action="@{/form_thue}">
	        				<button class="btn btn-save">Tạo mới</button>
	        			</form>
	        		</div>   
	        		<div class="search_thue">
	        			<form th:action="@{/search_thue}" method="get">
	        				<input type="text" name="txt_thue" placeholder="Mẫu số tờ khai"/>
	        				<button class="btn btn-search">
	        					<i class="fa fa-search"></i>
	        				</button>
	        			</form>
	        		</div>  	        		   		
	        	</div>
	        	<div class="content_thue">
	        		<h3>Danh sách tờ khai thuế</h3>
	        		<table id="table_thue">
	        			<tr>
	        				<th>No</th>
	        				<th>Mẫu số</th>
	        				<th>Tờ khai</th>
	        				<th>Loại thuế</th>        		
	        				<th>Kỳ</th>	   
	        				<th>Tình trạng</th>
	        				<th></th>
	        			</tr>
	        			<tr>
	        				<td>1</td>
	        				<td>MST1231</td>
	        				<td>Tờ khai thuế tháng 9/2021</td>
	        				<td>VAT</td>
	        				<td>9/2021</td>       
	        				<td>Chưa xử lý</td>
	        				<td>
	        					<button class="btn btn-primary">Xem</button>
	        					<button class="btn btn-danger">Xóa</button>
	        				</td>
	        			</tr>
	        		</table>
	        	</div>
	        </div>
	    </div>
	</div>
</body>
</html>