<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý kế toán</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/muahang/congnotra.css}">
    <script th:src="@{/js/fragment.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div th:replace="fragments::sidebar"></div>
	    <div class="main_content">
	        <div th:replace="fragments::header_Signined"></div>
	        <div class="info">
	        	<h3>Công nợ thu</h3>
	        	<div class="header_congno">	        		  
	        		<div class="search_congno">
	        			<form th:action="@{#}" method="get">
	        				<input type="text" name="txt_congno" placeholder="Số chứng từ"/>
	        				<button class="btn btn-search">
	        					<i class="fa fa-search"></i>
	        				</button>
	        			</form>
	        		</div>  	        		   		
	        	</div>
	        	<div class="content_congno">
	        		<h3>Danh sách công nợ thu từ khách hàng</h3>
	        		<table id="table_congno">
	        			<tr>
	        				<th>No</th>
	        				<th>Ngày hạch toán</th>
	        				<th>Ngày chứng từ</th>
	        				<th>Số chứng từ</th>
	        				<th>Số hóa đơn</th>
	        				<th>Khách hàng</th>
	        				<th>Tổng tiền</th>
	        				<th>Đã trả</th>
	        				<th>Còn lại</th>
	        				<th>Tình trạng</th>
	        				<th></th>
	        			</tr>
	        			<tr>
	        				<form th:action="@{/lichsugiaodichthu}" method="get">
		        				<td>1</td>
		        				<td>23/5/2021</td>
		        				<td>23/5/2021</td>
		        				<td>BGM1001</td>
		        				<td>HD1001</td>
		        				<td>Công ty TNHH Bình An</td>        				
		        				<td>18000000</td>
		        				<td>2000000</td>
		        				<td>16000000</td>
		        				<td>Chưa thanh toán xong</td>
		        				<td>
		        					<input type="submit" name="action" class="btn btn-primary" value="Xem"/>
		        					<input type="submit" name="action" class="btn btn-primary" value="Thu"/>
		           				</td>
		        			</form>
	        			</tr>
	        		</table>
	        	</div>
	        </div>
	    </div>
	</div>
</body>
</html>