<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý kế toán</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/muahang/form_donmua.css}">
    <script th:src="@{/js/fragment.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div th:replace="fragments::sidebar"></div>
	    <div class="main_content">
	        <div th:replace="fragments::header_Signined"></div>
	        <div class="info">
	        	<h3>Đơn bán hàng</h3>
	        	<form>
	        		<label for="sobaogia">Số báo giá:</label>
	        		<input type="text" name="sobaogia" placeholder="Số báo giá"/>
	        		<button class="btn btn-download">
	        			<i class="fa fa-download"></i>
	        		</button>
	        	</form>
	        	<div class="row t1">
	        		<div class="col-sm-7" id="nhapphieu">
	        			<h4>Thông tin chung</h4>
	        			<table>
		        			<tr>
			        			<td>
			        				<label for="makh">Mã khách hàng:</label>
			        			</td>
			        			<td>
			        				<input type="text" name="mancc"/>
			        			</td>
		        			</tr>
		        			<tr>
			        			<td>
			        				<label for="tenkh">Tên khách hàng:</label>
			        			</td>
			        			<td>
			        				<input type="text" name="tenncc"/>
			        			</td>
		        			<tr>
			        			<td>
			        				<label for="diachi">Địa chỉ:</label>
			        			</td>
			        			<td>
			        				<input type="text" name="diachi"/>
			        			</td>
		        			</tr>
		        			<tr>
			        			<td>
			        				<label for="masothue">Mã số thuế:</label>
			        			</td>
			        			<td>
			        				<input type="text" name="mathue"/>
			        			</td>
		        			</tr>
		        			<tr>
			        			<td>
			        				<label for="nguoimua">Người phụ trách:</label>
			        			</td>
			        			<td>     			
			        				<input type="text" name="nguoimua"/>
			        			</td>
		        			</tr>
	        			</table>
	        		</div>
	        		<div class="col-sum-5" id="kihieu">
	        			<h4>Đơn bán hàng</h4>
                          <table>
                            <tr>
                              <td>
                                <label for="sodonmua">Số đơn hàng:</label>
                              </td>
                              <td><input type="text" name="sodonmua"> </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="ngaydonmua">Ngày đơn hàng:</label>
                              </td>
                              <td><input type="date" name="ngaydonmua"> </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="ngaynhan">Ngày giao hàng:</label>
                              </td>
                              <td><input type="date" name="ngaynhan"> </td>
                            </tr>                       
                          </table> 
	        		</div>
	        	</div>
	       		<div class="row t2">
                    <div id="dongia">
                      <label for="dongia">Đơn giá:</label>
                      <input type="text" name="dongia" value="1000" disabled/>
                    </div>
                    <div id="tygia">
                      <label for="tygia">Tỷ giá:</label>
                      <input type="text" name="tygia" value="VND" disabled/>
                    </div>
                </div>
                <div class="row t3">
                  <h3>Chi tiết</h3>
                  <table id="chitiet">
                    <tr>
                      <th>Mã hàng</th>
                      <th>Tên hàng</th>
                      <th>Số lượng</th>
                      <th>Đơn vị tính</th>
                      <th>Đơn giá</th>
                      <th>Chiết khấu(%)</th>
                      <th>Thuế GTGT(%)</th>
                      <th>Thành tiền</th>
                    </tr>
                    <tr>
                      <td>
                        <input type="text" name="mahang"/>                     
                      </td>  
                      <td>
                        <input type="text" name="tenhang"/>                     
                      </td> 
                      <td>
                        <input type="number" name="soluong" id="soluong" oninput="tongtien1()"/>                     
                      </td> 
                      <td>
                        <input type="text" name="DVT"/>                     
                      </td> 
                      <td>
                        <input type="text" name="gia" id="gia" oninput="tongtien1()"/>                     
                      </td> 
                      <td>
                        <input type="text" name="chietkhau" id="chietkhau" oninput="tongtien1()"/>                     
                      </td> 
                      <td>
                        <input type="text" name="GTGT" id="GTGT" oninput="tongtien1()"/>                     
                      </td> 
                      <td>
                        <input type="text" name="thanhtien" id="thanhtien" oninput="tongtien1()"/>                     
                      </td>                
                    </tr>                                      
                  </table>
                </div>
                <div class="row t4">
                  <table id="tinhtong">
                  	<tr>
                      <td> <label for="tienhang">Tiền hàng:</label></td>
                      <td><input type="text" name="tienhang" id="tienhang" oninput="tongtien1()"/></td>
                      <td> <label for="tongGTGT">Tổng thuế GTGT:</label></td>
                      <td><input type="text" name="tongGTGT" id="tongGTGT" oninput="tongtien1()"/></td>
                    </tr>
                    <tr>
                      <td> <label for="chietkhau">Tổng chiết khấu:</label></td>
                      <td><input type="text" name="chietkhau"id="tongchietkhau" oninput="tongtien1()"/></td>
                      <td> <label for="tongtien">Tổng tiền:</label></td>
                      <td><input type="text" name="tongtien" id="tongtien" oninput="tongtien1()"/></td>
                    </tr>
                  </table>                
                </div>
                <div class="row t5">      
                    <button class="btn btn-cancel">Hủy bỏ</button> 
                	<button class="btn btn-save">Lưu lại</button>
                </div>
	       	</div>
	    </div>
	</div>
</body>
</html>