<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý kế toán</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/muahang/congnotra.css}">
    <script th:src="@{/js/fragment.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div th:replace="fragments::sidebar"></div>
	    <div class="main_content">
	        <div th:replace="fragments::header_Signined"></div>
	        <div class="info">
	        	<h3>Công nợ trả</h3>
	        	<div class="header_congno">	        		  
	        		<div class="search_congno">
	        			<form th:action="@{#}" method="get">
	        				<input type="text" name="txt_congno" placeholder="Số chứng từ"/>
	        				<button class="btn btn-search">
	        					<i class="fa fa-search"></i>
	        				</button>
	        			</form>
	        		</div>  	        		   		
	        	</div>
	        	<div class="content_congno">
	        		<h3>Danh sách công nợ phải trả cho nhà cung cấp</h3>
	        		<table id="table_congno">
	        			<tr>
	        				<th>No</th>
	        				<th>Ngày hạch toán</th>
	        				<th>Ngày chứng từ</th>
	        				<th>Số chứng từ</th>
	        				<th>Số hóa đơn</th>
	        				<th>Nhà cung cấp</th>
	        				<th>Tổng tiền</th>
	        				<th>Đã trả</th>
	        				<th>Phải trả</th>
	        				<th>Tình trạng</th>
	        				<th></th>
	        			</tr>
	        			<tr th:each="congno, itemStat:${listCongNo}">
		        			<td th:text="${itemStat.index+1}"></td>
		        			<td th:text="${congno.chungtumua.ngayHachToan}"></td>
		        			<td th:text="${congno.chungtumua.ngayChungTu}"></td>
		        			<td th:text="${congno.chungtumua.soChungTu}"></td>
		        			<td th:text="${congno.chungtumua.hoaDonMua.soHoaDon}"></td>
		        			<td th:text="${congno.chungtumua.tenDoiTuong}"></td>        				
		        			<td th:text="${congno.chungtumua.tongTien}"></td>
		        			<td th:text="${congno.soDaTra}"></td>
		        			<td th:text="${congno.soConLai}"></td>
		        			<td th:text="${congno.tinhTrang}"></td>
		        			<td>
		        				<a th:href="@{/xemgiaodich?id_chungtu={id_chungtu}(id_chungtu=${congno.chungtumua.id})}" class="btn btn-primary">Xem</a>
			        			<a th:href="@{/tratiennhacungcap?id_chungtu={id_chungtu}(id_chungtu=${congno.chungtumua.id})}" class="btn btn-primary">Trả</a>
		        			</td>
		        		</tr>  
	        		</table>
	        	</div>
	        </div>
	    </div>
	</div>