<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý kế toán</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/muahang/donmuahang.css}">
    <script th:src="@{/js/fragment.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div th:replace="fragments::sidebar"></div>
	    <div class="main_content">
	        <div th:replace="fragments::header_Signined"></div>
	        <div class="info">
	        	<h3>Đơn mua hàng</h3>
	        	<div class="header_donmua">	        		
	        		<div class="taodonmua">
	        			<form th:action="@{/form_donmua}">
	        				<button class="btn btn-save">Tạo mới</button>
	        			</form>
	        		</div>   
	        		<div class="search_donmua">
	        			<form th:action="@{/search_donmuahang}" method="get">
	        				<input type="text" name="txt_donmua" placeholder="Số đơn hàng"/>
	        				<button class="btn btn-search">
	        					<i class="fa fa-search"></i>
	        				</button>
	        			</form>
	        		</div>  	        		   		
	        	</div>
	        	<div class="content_donmua">
	        		<h3>Danh sách đơn mua hàng</h3>
	        		<table id="table_donmua">
	        			<tr>
	        				<th>No</th>
	        				<th>Ngày đơn hàng</th>
	        				<th>Số đơn hàng</th>
	        				<th>Ngày giao hàng</th>
	        				<th>Người phụ trách</th>
	        				<th>Nhà cung cấp</th>
	        				<th>Địa chỉ</th>
	        				<th>Mã số thuế</th>
	        				<th>Tình trạng</th>
	        				<th></th>
	        			</tr>
	        			<tr th:each="donmuahang, itemStat:${listdonmuahang}">
	        				<td th:text="${itemStat.index+1}"></td>
	        				<td th:text="${donmuahang.ngayDonHang}"></td>
	        				<td th:text="${donmuahang.soDonHang}"></td>
	        				<td th:text="${donmuahang.ngayNhanHang}"></td>
	        				<td th:text="${donmuahang.nguoiPhuTrach}"></td>
	        				<td th:text="${donmuahang.tenDoiTuong}"></td>        				
	        				<td th:text="${donmuahang.diaChi}"></td>
	        				<td th:text="${donmuahang.maSoThue}"></td>
	        				<td th:text="${donmuahang.tinhTrang}"></td>
	        				<td>
	        					<button class="btn btn-primary">Sửa</button>
	        					<button class="btn btn-danger">Xóa</button>
	        				</td>
	        			</tr> 
	        		</table>
	        	</div>
	        </div>
	    </div>
	</div>