<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý kế toán</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/muahang/form_ncc.css}">
    <script th:src="@{/js/fragment.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div th:replace="fragments::sidebar"></div>
	    <div class="main_content">
	        <div th:replace="fragments::header_Signined"></div>
	        <div class="info">
	        	<form th:action="@{nhacungcap_add}" method="post" th:object="${nhacungcap}">
	        		<h3>Tạo thông tin nhà cung cấp</h3>
	        		<table>
	        			<tr>
	        				<td>
	        					<label for="mancc">Mã nhà cung cấp:</label>
	        				</td>
	        				<td>
	        					<input type="text" name="mancc" th:field="*{maDoiTuong}"/>
	        				</td>
	        			</tr>
	        			<tr>
	        				<td>
	        					<label for="tenncc">Tên cung cấp:</label>
	        				</td>
	        				<td>
	        					<input type="text" name="tenncc" th:field="*{tenDoiTuong}"/>
	        				</td>
	        			</tr>
	        			<tr>
	        				<td>
	        					<label for="diachi">Địa chỉ:</label>
	        				</td>
	        				<td>
	        					<input type="text" name="diachi" th:field="*{diaChi}"/>
	        				</td>
	        			</tr>
	        			<tr>
	        				<td>
	        					<label for="sdt">Số điện thoại:</label>
	        				</td>
	        				<td>
	        					<input type="text" name="sdt" th:field="*{SDT}"/>
	        				</td>
	        			</tr>
	        			<tr>
	        				<td>
	        					<label for="masothue">Mã số thuế:</label>
	        				</td>
	        				<td>
	        					<input type="text" name="masothue" th:field="*{maSoThue}"/>
	        				</td>
	        			</tr>
	        			<tr>
	        				<td>
	        					<label for="sotaikhoan">Số tài khoản:</label>
	        				</td>
	        				<td>
	        					<input type="text" name="sotaikhoan" th:field="*{soTaiKhoan}"/>
	        				</td>
	        			</tr>
	        			<tr>
	        				<td></td>
	        				<td>
	        					<button class="btn btn-primary">Lưu lại</button>
	        					<button class="btn btn-danger">Hủy bỏ</button>
	        				</td>
	        			</tr>
	        		</table>
	        	</form>
	        </div>
	    </div>
	</div>
</body>
</html>