.wrapper .main_content .info h3{
	display:block;
}
.wrapper .main_content .info .header_donmua{
	margin-top:20px;
	display:flex;
}
.wrapper .main_content .info .header_donmua .taodonmua .btn{
	outline: none;
	border: 1px solid rgb(33, 150, 243);
	background-color: #fff;
}
.wrapper .main_content .info .header_donmua .taodonmua .btn:hover, .btn:active{
	background-color: #2196f3;
	color:white;
}
.wrapper .main_content .info .header_donmua .search_donmua{
	position:absolute;
	margin-left:700px;
}
.wrapper .main_content .info .header_donmua .search_donmua input{
	border:none;
	outline:none;
	width:250px;
	height:36px;
	font-size:14px;
	background-color:#fff;
	border:1px solid gray;
	border-radius:20px;
	padding:0 10px;
}
.wrapper .main_content .info .header_donmua .search_donmua input:hover, input:active{
	border: 1px solid #2196f3;
}
.wrapper .main_content .info .header_donmua .search_donmua .btn{
	position:absolute;
	top:3px;
	left:215px;
	width:30px;
	height:30px;
	outline:none;
	border:none;
	background:#fff;
	border:1px solid gray;
	padding: 5px 5px;
	border-radius:50%;
	cursor:pointer;
}
.wrapper .main_content .info .header_donmua .search_donmua .btn:hover, .btn:active{
	background-color: #2196f3;
	color:white;
}

.wrapper .main_content .info .content_donmua{
	margin-top:20px;
	width:1000px;
	overflow-x:auto;
}
.wrapper .main_content .info .content_donmua #table_donmua{
	margin-top:10px;
 	border-collapse: collapse;
}
.wrapper .main_content .info .content_donmua #table_donmua tr:nth-child(even){
  background-color: #f2f2f2;
}
.wrapper .main_content .info .content_donmua #table_donmua tr:hover{
  background-color: #ddd;
}
.wrapper .main_content .info .content_donmua #table_donmua th{
  padding: 10px 1px;
  text-align: center;
  background-color: #2196f3;
  border: 1px solid #fff;
  color: white;
}
.wrapper .main_content .info .content_donmua #table_donmua td{
	padding:5px;
}
.wrapper .main_content .info .content_donmua #table_donmua .btn-primary{
	border:1px solid #2196f3;
	background-color:white;
	color:black;
}
.wrapper .main_content .info .content_donmua #table_donmua .btn-primary:hover, .btn-primary:active{
	color:white;
	background-color:#2196f3;
}
.wrapper .main_content .info .content_donmua #table_donmua .btn-danger{
	border:1px solid red;
	background-color:white;
	color:black;
}
.wrapper .main_content .info .content_donmua #table_donmua .btn-danger:hover, .btn-danger:active{
	color:white;
	background-color:red;
}