<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý kế toán</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script th:src="@{/js/login.js}"></script>
</head>
<body>
	<div class="form_dangnhap">
		<h2>Đăng nhập</h2>
		<form th:action="@{/login}" method="get" th:object="${account}">
			<table>
				<tr>
					<td><i class="fas fa-user-circle"></i></td>
					<td>
						<input type="text" name="username" id="username" placeholder="username" required="required" th:field="*{username}"/>
					</td>
				</tr>
				<tr>
					<td><i class="fas fa-unlock-alt"></i></td>
					<td>
						<input type="password" name="password" id="password" placeholder="password" required="required" th:field="*{password}"/>
					</td>
				</tr>
                <tr th:if="${message}" style="font-size:16px;color:white;text-align:center;" >
                	<td></td>
					<td th:text="${message}"></td>
                </tr>
				<tr>
					<td></td>
					<td>
						<button class="btn btn-login">Đăng nhập</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>