.wrapper .main_content .info h3{
	display:block;
}
.wrapper .main_content .info .header_kiemke{
	margin-top:20px;
	display:flex;
}
.wrapper .main_content .info .header_kiemke .taokiemke .btn{
	outline: none;
	border: 1px solid rgb(33, 150, 243);
	background-color: #fff;
}
.wrapper .main_content .info .header_kiemke .taokiemke .btn:hover, .btn:active{
	background-color: #2196f3;
	color:white;
}
.wrapper .main_content .info .header_kiemke .search_kiemke{
	position:absolute;
	margin-left:700px;
}
.wrapper .main_content .info .header_kiemke .search_kiemke input{
	border:none;
	outline:none;
	width:250px;
	height:36px;
	font-size:14px;
	background-color:#fff;
	border:1px solid gray;
	border-radius:20px;
	padding:0 10px;
}
.wrapper .main_content .info .header_kiemke .search_kiemke input:hover, input:active{
	border: 1px solid #2196f3;
}
.wrapper .main_content .info .header_kiemke .search_kiemke .btn{
	position:absolute;
	top:3px;
	left:215px;
	width:30px;
	height:30px;
	outline:none;
	border:none;
	background:#fff;
	border:1px solid gray;
	padding: 5px 5px;
	border-radius:50%;
	cursor:pointer;
}
.wrapper .main_content .info .header_kiemke .search_kiemke .btn:hover, .btn:active{
	background-color: #2196f3;
	color:white;
}

.wrapper .main_content .info .content_kiemke{
	margin-top:20px;
	width:1000px;
	overflow-x:auto;
}
.wrapper .main_content .info .content_kiemke #table_kiemke{
	margin-top:10px;
 	border-collapse: collapse;
 	width:1000px;
}
.wrapper .main_content .info .content_kiemke #table_kiemke tr:nth-child(even){
  background-color: #f2f2f2;
}
.wrapper .main_content .info .content_kiemke #table_kiemke tr:hover{
  background-color: #ddd;
}
.wrapper .main_content .info .content_kiemke #table_kiemke th{
  padding: 5px 5px;
  text-align: center;
  background-color: #2196f3;
  border: 1px solid #fff;
  color: white;
}
.wrapper .main_content .info .content_kiemke #table_kiemke th:last-child{
	width:190px;
}
.wrapper .main_content .info .content_kiemke #table_kiemke td{
	padding:2px;
}
.wrapper .main_content .info .btn{
	border:1px solid #2196f3;
	border-radius:4px;
	background:white;
	color:black;
}
.wrapper .main_content .info .btn:hover, .btn:active{
	background:#2196f3;
	color:white;
}