<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý kế toán</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/baocao/baocaocongno.css}">
    <script th:src="@{/js/fragment.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div th:replace="fragments::sidebar"></div>
	    <div class="main_content">
	        <div th:replace="fragments::header_Signined"></div>
	        <div class="info">	
	        	<h3>Báo cáo công nợ</h3>
	        	<div class="content_baocao">
		        	<div class="congnothu">
		        		<table class="table_congnothu">
		        			<tr>
		        				<th>No</th>
		        				<th>Ngày hạch toán</th>
		        				<th>Số chứng từ</th>
		        				<th>Đối tượng</th>
		        				<th>Tổng tiền</th>
		        				<th>Số còn phải thu</th>
		        			</tr>
		        			<tr>
		        				<td>1</td>
		        				<td>23/5/2021</td>
		        				<td>PT1001</td>
		        				<td>Công ty TNHH Bình An</td>
		        				<td>3000000</td>
		        				<td>3000000</td>
		        			</tr>
		        			<tr>
		        				<td>2</td>
		        				<td>24/5/2021</td>
		        				<td>PT1002</td>
		        				<td>Công ty TNHH Tân Bình</td>
		        				<td>3000000</td>
		        				<td>2000000</td>
		        			</tr>
		        		</table>
		        		<h4>
		        			Tổng thu: 
		        			<span id="tongthu">5000000</span>
		        			VNĐ
		        		</h4>
		        	</div>
		        	<div class="congnotra">
	        		<table class="table_congnotra">
	        			<tr>
	        				<th>No</th>
	        				<th>Ngày hạch toán</th>
	        				<th>Số chứng từ</th>
	        				<th>Đối tượng</th>
	        				<th>Tổng tiền</th>
	        				<th>Số còn phải trả</th>
	        			</tr>
	        			<tr>
		        			<td>1</td>
		        			<td>23/5/2021</td>
		        			<td>PC1001</td>
		        			<td>Công ty TNHH Bình An</td>
		       				<td>5000000</td>
		       				<td>3000000</td>
		       			</tr>
		       			<tr>
		        			<td>2</td>
		        			<td>12/5/2021</td>
		        			<td>PC1002</td>
		        			<td>Công ty TNHH Bình An</td>
		        			<td>8000000</td>
		        			<td>8000000</td>
		        		</tr>
	        		</table>
	        		<h4>	
	        			Tổng phải trả:
	        			<span id="tongtra">11000000</span>
	        			VNĐ
	        		</h4>
	        	</div>
	        	</div>
	        </div>
	    </div>
	</div>
</body>
</html>