<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý kế toán</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/baocao/baocaodoanhso.css}">
    <script th:src="@{/js/fragment.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div th:replace="fragments::sidebar"></div>
	    <div class="main_content">
	        <div th:replace="fragments::header_Signined"></div>
	        <div class="info">	
	        	<h3>Báo cáo doanh số mua bán hang</h3>
	        	<h5>Tháng:<span th:text="${month}"></span></h5>
	        	<div class="content_baocao">
		        	<div class="khoanmua">
		        		<table class="table_mua">
		        			<tr>
		        				<th>No</th>
		        				<th>Mã NCC</th>
		        				<th>Nhà cung cấp</th>
		        				<th>Địa chỉ</th>
		        				<th>Số tiền</th>
		        			</tr>
		        			<tr th:each="doanhso,itemStat:${doanhsomua}">
		        				<td th:text="${itemStat.index+1}"></td>
			        			<td th:text="${doanhso.maDoiTuong}"></td>
			        			<td th:text="${doanhso.tenDoiTuong}"></td>
			        			<td th:text="${doanhso.diaChi}"></td>
			        			<td th:text="${doanhso.soTien}"></td>
		        			</tr>
		        		</table>
		        		<h4>
		        			Tổng mua: 
		        			<span id="tongmua" th:text="${tongmua}"></span>
		        			VNĐ
		        		</h4>
		        	</div>
		        	<div class="khoanban">
	        		<table class="table_ban">
	        			<tr>
		        			<th>No</th>
		        			<th>Mã NCC</th>
		        			<th>Nhà cung cấp</th>
		        			<th>Địa chỉ</th>
		        			<th>Số tiền</th>
		        		</tr>
		       			<tr th:each="doanhso,itemStat:${doanhsoban}">
		       				<td th:text="${itemStat.index+1}"></td>
		        			<td th:text="${doanhso.maDoiTuong}"></td>
		        			<td th:text="${doanhso.tenDoiTuong}"></td>
		        			<td th:text="${doanhso.diaChi}"></td>
		        			<td th:text="${doanhso.soTien}"></td>
		        		</tr>
	        		</table>
	        		<h4>	
	        			Tổng bán:
	        			<span id="tongban" th:text="${tongban}"></span>
	        			VNĐ
	        		</h4>
	        	</div>
	        	</div>
	        </div>
	    </div>
	</div>
</body>
</html>