<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý kế toán</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/baocao/baocaoquy.css}">
    <script th:src="@{/js/fragment.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div th:replace="fragments::sidebar"></div>
	    <div class="main_content">
	        <div th:replace="fragments::header_Signined"></div>
	        <div class="info">	
	        	<h3>Báo cáo quỹ</h3>
	        	<h4>Tháng: <span th:text="${baocaoquy.month}"></span></h4>
	        	<h5>Ngày báo cáo: <span th:text="${baocaoquy.ngayBaoCao}"></span></h5>
	        	<div class="content_baocao">
		        	<table>	        		
		        		<tr>
		        			<th>No</th>
		        			<th>Ngày hạch toán</th>
		        			<th>Số chứng từ</th>
		        			<th>Đối tượng</th>
		        			<th>Diễn giải</th>
		        			<th>Số tiền</th>
		        			<th>Ghi chú</th>
		        		</tr>
		        		<tr>
		        			<th>I</th>
		        			<th colspan="4">Tổng thu</th>
		        			<th th:text="${baocaoquy.tongthu}"></th>
		        			<th></th>
		        		</tr>
		        		<tr th:each="phieuthu, itemStat: ${baocaoquy.listPhieuThu}">
		        			<td th:text="${itemStat.index+1}"></td>
		        			<td th:text="${phieuthu.ngayHachToan}"></td>
		        			<td th:text="${phieuthu.soPhieuThu}"></td>
		        			<td th:text="${phieuthu.tenDoiTuong}"></td>
		        			<td th:text="${phieuthu.dienGiai}"></td>
		        			<td th:text="${phieuthu.soTien}"></td>
		        			<td></td>
		        		</tr>
		        		<tr>
		        			<th>II</th>
		        			<th colspan="4">Tổng chi</th>
		        			<th th:text="${baocaoquy.tongthu}"></th>
		        			<th></th>
		        		</tr>
		        		<tr th:each="phieuchi, itemStat: ${baocaoquy.listPhieuChi}">
		        			<td th:text="${itemStat.index+1}"></td>
		        			<td th:text="${phieuchi.ngayHachToan}"></td>
		        			<td th:text="${phieuchi.soPhieuChi}"></td>
		        			<td th:text="${phieuchi.tenDoiTuong}"></td>
		        			<td th:text="${phieuchi.dienGiai}"></td>
		        			<td th:text="${phieuchi.soTien}"></td>
		        			<td></td>
		        		</tr>
		        		<tr>
		        			<th>III</th>
		        			<th colspan="4">Tồn quỹ</th>
		        			<th th:text="${baocaoquy.tonquy}"></th>
		        			<th></th>
		        		</tr>
		        	</table>
		        	</div>	    
	        	</div>
	        </div>
	    </div>
</body>
</html>