<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý kế toán</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/kho/form_themkho.css}">
    <script th:src="@{/js/fragment.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div th:replace="fragments::sidebar"></div>
	    <div class="main_content">
	        <div th:replace="fragments::header_Signined"></div>
	        <div class="info">
	        	<div class="content_themkho">
	        		<h3>Thêm kho</h3>
	        		<form th:action="@{/themkho}" method="post" th:object="${kho}">
	        		<table>
	        			<tr>
	        				<td></td>
	        				<td>
	        					<input type="hidden" name="id" th:field="*{id}"/>
	        				</td>
	        			</tr>
	        			<tr>
	        				<td>
	        					<label for="makho">Mã kho:</label>
	        				</td>
	        				<td>
	        					<input type="text" name="makho" th:field="*{maKho}"/>
	        				</td>
	        			</tr>
	        			<tr>
	        				<td>
	        					<label for="tenkho">Tên kho:</label>
	        				</td>
	        				<td>
	        					<input type="text" name="tenkho" th:field="*{tenKho}"/>
	        				</td>
	        			</tr>
	        			<tr>
	        				<td>
	        					<label for="diaChi">Địa chỉ:</label>
	        				</td>
	        				<td>
	        					<input type="text" name="diaChi" th:field="*{diaChi}"/>
	        				</td>
	        			</tr>
	        			<tr>
	        				<td>
	        					<label for="SDT">Số điện thoại:</label>
	        				</td>
	        				<td>
	        					<input type="text" name="SDT" th:field="*{SDT}"/>
	        				</td>
	        			</tr>
	        			<tr>
	        				<td>
	        					<label for="thukho">Tên thủ kho:</label>
	        				</td>
	        				<td>
	        					<input type="text" name="thukho" th:field="*{thuKho}"/>
	        				</td>
	        			</tr>
	        			<tr>
	        				<td></td>
	        				<td>
	        					<button class="btn btn-save">Lưu lại</button>
	        				</td>
	        			</tr>
	        		</table>
	        		</form>
	        	</div>
	        </div>	
	    </div>
	</div>
</body>
</html>