<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý kế toán</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/kho/form_nhapkho.css}">
    <script th:src="@{/js/fragment.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div th:replace="fragments::sidebar"></div>
	    <div class="main_content">
	        <div th:replace="fragments::header_Signined"></div>
	        <div class="info">
	        	<h3>Phiếu xuất kho</h3>
	        	<div class="header_phieukho">
	        		<form>
		        		<label for="sochungtu">Số chứng từ:</label>
		        		<input type="text" name="sochungtu" placeholder="Số chứng từ"/>
		        		<button class="btn btn-download">
		        			<i class="fa fa-download"></i>
		        		</button>
		        	</form>
	        	</div>
	        	<div class="row t1">
	        		<div class="col-sm-7" id="nhapphieu">
	        			<h4>Thông tin chung</h4>
	        			<lable for="mancc">Mã khách hàng:</lable>
	        			<input type="text" name="mancc"/>
	        			<lable for="tenncc">Tên khách hàng:</lable>
	        			<input type="text" name="tenncc"/><br><br>
	        			<lable for="nguoigiaohang">Người giao hàng:</lable>
	        			<input type="text" name="nguoigiaohang"/><br><br>
	        			<lable for="diengiai">Diễn giải:</lable>
	        			<input type="text" name="diengiai"/><br><br>
	        			<lable for="nguoiphutrach">Người phụ trách:</lable>
	        			<input type="text" name="nguoiphutrach"/><br>
	        		</div>
	        		<div class="col-sum-5" id="kihieu">
	        			<h4>Chứng từ</h4>
                          <table>                      
                            <tr>
                              <td>
                                <label for="ngayhachtoan">Ngày hạch toán:</label>
                              </td>
                              <td><input type="date" name="ngayhachtoan"> </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="ngaychungtu">Ngày chứng từ:</label>
                              </td>
                              <td><input type="date" name="ngaychungtu"> </td>
                            </tr> 
                            <tr>
                              <td>
                                <label for="sophieunhap">Số phiếu nhập:</label>
                              </td>
                              <td><input type="text" name="sophieunhap"> </td>
                            </tr>                      
                          </table> 
	        		</div>
	        	</div>
	       		<div class="row t2">
                    <div id="dongia">
                      <label for="dongia">Đơn giá:</label>
                      <input type="text" name="dongia" value="1000" disabled/>
                    </div>
                    <div id="tygia">
                      <label for="tygia">Tỷ giá:</label>
                      <input type="text" name="tygia" value="VND" disabled/>
                    </div>
                </div>
                <div class="row t3">
                  <h3>Chi tiết</h3>
                  <table id="chitiet">
                    <tr>
                      <th>Mã hàng</th>
                      <th>Tên hàng</th>
                      <th>Số lượng</th>
                      <th>Đơn vị tính</th>
                      <th>Đơn giá</th>
                      <th>Chiết khấu(%)</th>
                      <th>Thuế GTGT(%)</th>
                      <th>Thành tiền</th>
                    </tr>
                    <tr>
                      <td>
                        <input type="text" name="mahang"/>                     
                      </td>  
                      <td>
                        <input type="text" name="tenhang"/>                     
                      </td> 
                      <td>
                        <input type="number" name="soluong" id="soluong" oninput="tongtien()"/>                     
                      </td> 
                      <td>
                        <input type="text" name="DVT"/>                     
                      </td> 
                      <td>
                        <input type="text" name="gia" id="gia" oninput="tongtien()"/>                     
                      </td> 
                      <td>
                        <input type="text" name="chietkhau" id="chietkhau" oninput="tongtien()"/>                     
                      </td> 
                      <td>
                        <input type="text" name="GTGT" id="GTGT" oninput="tongtien()"/>                     
                      </td> 
                      <td>
                        <input type="text" name="thanhtien" id="thanhtien" oninput="tongtien()"/>                     
                      </td>                
                    </tr>                                      
                  </table>
                </div>
                <div class="row t4">
                  <table id="tinhtong">
                  	<tr>
                      <td> <label for="tienhang">Tiền hàng:</label></td>
                      <td><input type="text" name="tienhang" id="tienhang" oninput="tongtien()"/></td>
                      <td> <label for="GTGT">Tổng thuế GTGT:</label></td>
                      <td><input type="text" name="GTGT" id="tongGTGT" oninput="tongtien()"/></td>
                    </tr>
                    <tr>
                      <td> <label for="chietkhau">Tổng chiết khấu:</label></td>
                      <td><input type="text" name="chietkhau" id="tongchietkhau" oninput="tongtien()"/></td>
                      <td> <label for="tongtien">Tổng tiền:</label></td>
                      <td><input type="text" name="tongtien" id="tongtien" oninput="tongtien()"/></td>
                    </tr>
                  </table>                
                </div>
                <div class="row t5">      
                    <button class="btn btn-cancel">Hủy bỏ</button> 
                	<button class="btn btn-save">Lưu lại</button>
                </div>
	       	</div>
	    </div>
	</div>