<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý kế toán</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/kho/kho.css}">
    <script th:src="@{/js/fragment.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div th:replace="fragments::sidebar"></div>
	    <div class="main_content">
	        <div th:replace="fragments::header_Signined"></div>
	        <div class="info">
	        	<h3>Danh mục kho</h3>
	        	<div class="content_kho">
	        		<form th:action="@{/hanghoa}" method="get">
		        		<table id="table_kho">
		        			<tr>
		        				<th>No</th>
		        				<th>Mã kho</th>
		        				<th>Tên kho</th>
		        				<th>Địa chỉ</th>        		
		        				<th>Số điện thoại</th>
		        				<th>Thủ kho</th>
		        				<th></th>
		        			</tr>
		        			<tr th:each="kho:${listKho}">
		        				<td th:text="${kho.id}"></td>
		        				<td th:text="${kho.maKho}"></td>
		        				<td th:text="${kho.tenKho}"></td>
		        				<td th:text="${kho.diaChi}"></td>
		        				<td th:text="${kho.SDT}"></td>
		        				<td th:text="${kho.thuKho}"></td>
		        				<td>
		        					<a th:href="@{/hanghoa?id_kho={id}(id=${kho.id})}" class="btn btn-primary">Xem</a>
		        				</td>
		        			</tr>
		        		</table>
		        	</form>
	        	</div>
	        </div>
	    </div>
	</div>
</body>
</html>