<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý kế toán</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/kho/kiemke.css}">
    <script th:src="@{/js/fragment.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div th:replace="fragments::sidebar"></div>
	    <div class="main_content">
	        <div th:replace="fragments::header_Signined"></div>
	        <div class="info">
	        	<h3>Kiểm kê kho</h3>
	        	<div class="header_kiemke">	        		
	        		<div class="taokiemke">
	        			<form th:action="@{/form_ngaykiemke}">
	        				<button class="btn btn-save">Tạo mới</button>
	        			</form>
	        		</div>  
	        		<div class="search_kiemke">
	        			<form th:action="@{/search_kiemke}" method="get">
	        				<input type="text" name="txt_kiemke" placeholder="Số chứng từ"/>
	        				<button class="btn btn-search">
	        					<i class="fa fa-search"></i>
	        				</button>
	        			</form>
	        		</div>   	        		   		
	        	</div>
	        	<div class="content_kiemke">
	        		<h3>Danh sách phiếu chi</h3>
	        		<table id="table_kiemke">
	        			<tr>
	        				<th>No</th>
	        				<th>Ngày kiểm kê</th>
	        				<th>Số chứng từ</th>        		
	        				<th>Kho</th>
	        				<th>Người phụ trách</th>
	        				<th>Mục đích kiểm kê</th>
	        				<th></th>
	        			</tr>
	        			<tr th:each="kiemke,itemStat:${listKiemKe}">
	        				<td th:text="${itemStat.index+1}"></td>
	        				<td th:text="${kiemke.ngayKiemKe}"></td>
	        				<td th:text="${kiemke.soChungTu}"></td>
	        				<td th:text="${kiemke.kho}"></td>   
	        				<td th:text="${kiemke.nguoiPhuTrach}"></td>    
	        				<td th:text="${kiemke.mucDich}"></td>
	        				<td>
		        				<a th:href="@{/edit_kiemke?id_kiemke={id}(id=${kiemke.id})}" class="btn btn-primary">Sửa</a>
		        				<a th:href="@{/delete_kiemke?id_kiemke={id}(id=${kiemke.id})}" class="btn btn-primary">Xóa</a>
		        			</td>
	        			</tr>
	        		</table>
	        	</div>
	        </div>
	    </div>
	</div>
</body>
</html>